body {
  font-size: 18px;
  color: #000;
  background-color: #fff;
  font-family: Verdana, sans-serif
}
h1 {
  padding: 0;
  margin: 0;
}
h1.text-center 
{
  margin-bottom: 30px;
}
h3 {
    text-align: center;
    margin-top: 0px;
}

.navbar-brand h1 {
    font-size: 1.5em;
    font-weight: bold;
   /* float: left;*/
    margin-top: 0;
    color: #000;
    line-height: .75;
}

 .box {
    background-color: #B6B6B6;
    width: 100%;
    padding: 20px;
    margin-bottom: 50px;
    opacity: 80%;
}


 .navbar-toggle:focus {
    background-color: #B6B6B6 ;
}
 .navbar-default .navbar-toggle:hover {
  background-color: white;
}

.navbar-default .navbar-nav>li>a {
  background-color: #BCC082;
 }

 span.icon-bar {
    background-color: #000000 !important;
}


a.logo {
    color: #000;
}
 .navbar-toggle {
   
   border-color: #000 !important;
    }
.navbar-default{
background-color: #B6B6B6;
}

.navbar-default .navbar-nav>li>a:hover {
  background-color: #9D9D9D;
  color: white;
}




/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}

/********** Small devices only **********/
@media (min-width: 576px) and (max-width: 767px) {
  .navbar-toggle {
    display: none;
}
}
/********** Extra small devices only **********/
@media (max-width: 576px) {
 .box {
  width: 80%;
  margin: 0 auto;
 margin-bottom: 30px;
}


